nav {
    background-color: rgb(0, 160, 160);
    font-size: 50px;
    text-align: center;
}

#member::after {
    content: "";
    background: url("https://i.ytimg.com/vi/SGG0xdvP0PM/maxresdefault.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  h3 {
      margin-left: 0%;
  }

  h4 {
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
  }

  #member {
      margin-top: 20px;
      margin-left: 30%;
    }

#container {
        min-height: 300px;
        margin-left: -50px;
    }