nav {
    background-color: rgb(0, 160, 160);
    font-size: 50px;
    text-align: center;
}

#list::after {
    content: "";
    background: url("https://i.ytimg.com/vi/q5chhdaNQ88/maxresdefault.jpg") no-repeat center center fixed;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  h4 {
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
  }

  #listBtn {
      margin-left: 23%;
  }